#  Objetivo 

Fazer com que o jupyter aceite comando SQL. 

Eu utilizei o tutorial do [Run SQL in Jupyter Notebooks - Python Recipes](https://www.youtube.com/watch?v=sDY_fKe_JVw)

In [13]:
import pandas as pd
import sqlite3

/tmp/ipykernel_11961/2059591896.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [12]:
#install the ipython-sql libray
!pip install ipython-sql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in /home/ricardo/.local/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: ipython-genutils in /usr/lib/python3/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable in /home/ricardo/.local/lib/python3.10/site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: sqlparse in /home/ricardo/.local/lib/python3.10/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: ipython in /usr/lib/python3/dist-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=2.0 in /home/ricardo/.local/lib/python3.10/site-packages (from ipython-sql) (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/ricardo/.local/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /home/ricardo/.local/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: wcwidth in /usr/lib/python3/dist-packages (from prettytable->ipython-sql) (0.2.5)

In [22]:
# create a dataframe to import data for the tutorial
df= pd.DataFrame({'name': ['Juan', 'Victoria', 'Mary'], 
                  'age': [23,34,43], 
                  'city': ['Miami', 'Buenos Aires','Santiago']})

df

       name  age          city
0      Juan   23         Miami
1  Victoria   34  Buenos Aires
2      Mary   43      Santiago

In [23]:
# We will sqlite3 library and create a connection
cnn = sqlite3.connect('jupyter_sql_tutorial.db')

df.to_sql('people', cnn)

ValueError: Table 'people' already exists.

In [31]:
%load_ext sql

%sql sqlite:///jupyter_sql_tutorial.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [28]:
%%sql
SELECT *
FROM people

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(0, 'Juan', 23, 'Miami'),
 (1, 'Victoria', 34, 'Buenos Aires'),
 (2, 'Mary', 43, 'Santiago')]

In [29]:
%%sql
SELECT count(*)
FROM people

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(3,)]

In [30]:
%%sql
SELECT sum(age) as 'age_sum'
FROM people

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(100,)]

**Observação:** 

Para comando de uma linha, escervamos:
~~~
%sql <comando>
~~~

Para mais linha 

~~~
%%sql 
<comando 1>
...
<comando n>
~~~